body {
  background-color: #016157;
  margin: auto;
}

h1 {
  text-align:center;
  color:  #FFFFFF;
  font-family: 'Calistoga', cursive;
  font-size: 4em;
  font-weight:lighter;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
margin: 15px;
box-shadow: 1px 3px 6px #01423c;
background-color:#FFFFFF;
width: 300px;
}

header h2 {
  border: solid 1px #00796B;
  padding: 10px;
  margin: 0;
}

h2 {
  color: #016157;
  text-align:center;
  font-family: 'Calistoga', cursive;
  font-weight:lighter;
}

.card-img {
  height: 250px;
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  object-fit: cover;
  
 }

 .description {
   text-align:justify;
   padding: 3px;
   font-family: 'Roboto', sans-serif;
 }
  

 .specs > p {
   font-weight: bold;
   padding-left: 10px;
   font-family: 'Roboto', sans-serif;
 }

 .product-info p:last-child {
   padding-left: 10px;
   background-color: #BDBDBD;
   color:#009688;
   font-family: 'Roboto', sans-serif;
 }

 .pricing > p {
   padding-left: 10px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
 }

 h3 {
   color: #009688;
   font-family: 'Calistoga', cursive;
 }

 footer {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
 }

.sold-out-container {
  position: relative;
  top:0;
  width: 300px
}

.card6-img {
  position: absolute;
  height: 250px;
  width: 175px;
  top:0;
  z-index:1;
}

.sold-out {
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  
}
